body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

header img {
  width:70%;
}

a {
  text-decoration: none;
  color:black;
}

nav {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  font-size: 18px; 
}

.nav-links {
  margin:20px;
}

.nav-links:hover {
  text-decoration: underline;
  color: black;
}

/**BASE DESIGN FOR ALL PAGES**/


.container{
  padding:10px;
  text-align: center;
}


/**Home welcome page**/

.welcome {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.small-header {
  font-weight: 700;
}

.home-style {
  background-color: #F4F4F4;
  padding: 20px 0 20px 0;
}

.home-style-opposite {
  padding: 20px 0 20px 0;
}



/**About**/

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F4F4F4;
  padding:10px
}

.about-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.about-header {
  font-weight: 800;
}

.citrus {
  width: 80%;
}



/**Contact**/

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.car {
  width:90%;
}



/**Footer**/

footer {
  display: flex;
  flex-direction: column;
}

footer img {
  width: 80%;
}

.dekal {
  display: flex;
   justify-content: center; 
   margin-top: 20px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #F4F4F4; 
  margin-top: 20px;
}

.logo {
  width: 10%;
  margin:10px;
}

.large-logga { 
  width:40%;
}


@media (min-width: 700px) {

h1 {
  font-size: 72px;
}

.welcome h1 { 
  padding-top: 100px;
}

.home-style {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.home-style-opposite {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
}

header {
  justify-content: flex-end;
}

.header-style {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.header-style p {
  max-width: 700px;
}

.citrus {
  width:40%;
  margin:20px;
}
nav { 
  font-size: 30px;
}

}